* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 10px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-wrap: wrap;

}

h1 {
	width: 100%;
	text-align: center;
	font-size: 1.9rem;
	letter-spacing: 8px;
	padding: 5%;
}

#hangman {
	width: 100%;
}

#hangman img {
	width: 100%;
	max-width: 305px;
	display: block;
}

#word {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 5% 10%;
	width: 100%;
	font-size: 2rem;
}

#category {
	width: 100%;
	margin: 8% auto;
	font-size: 1.5rem;
	text-align: center;
}

#keyboard {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
	margin: 5% 2%;
}

.letter {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 15%;
	line-height: 150%;
	font-size: 1.2rem;
	margin: 5px;
	background-color: rgb(187, 187, 187);
	box-shadow: 0px 1px 5px 0px #000;
	border-bottom: 1px solid #4b4b4b;
	border-right: 1px solid #4b4b4b;
	border-radius: 10px;
}

.letter:hover {
	cursor: pointer;
}

.letter.clicked {
	box-shadow: inset 2px 2px 10px 0px #000;
	border-bottom: 1px solid #4b4b4b;
	border-right: 1px solid #4b4b4b;
	background-color: rgb(153, 153, 153);
}

.letter.clicked {
	cursor: auto
}

#resultBoard {
	position: fixed;
	top: -100%;
	left: 50%;
	transform: translateX(-50%);
	width: 90%;
	height: 50%;
	background-color: rgb(187, 187, 187);
	box-shadow: 0 0 5px 3px black, 0 0 0 6px white, 0 0 5px 9px black;
	transition: .8s cubic-bezier(0.11, 0.01, 0.57, 2.08);
}

#resultBoard.active {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#resultBoard h2 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -150%);
	width: 100%;
	font-size: 1.5rem;
	text-align: center;
	color: black;
}

#resultBoard button {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 50%);
	font-size: 1rem;
	padding: 5px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

a {
	text-decoration: none;
	color: black;
}

@media (orientation: landscape) {

	#hangman,
	#word {
		width: 50%;
	}

	#word {
		padding: 5% 5%;
	}

	#hangman img {
		width: 70%;
		margin: 0 0 0 auto;
	}

	#category {
		margin: 0 auto;
	}

	#keyboard {
		width: 80%;
		margin: 5% auto;
	}

	.letter {
		width: 8%;
		line-height: 200%;
		margin: 5px;
	}


}

@media (min-width: 375px) {
	h1 {
		font-size: 2.2rem;
		padding: 8%;
	}

	#hangman img {
		margin: 0 auto;
	}

	#word {
		padding: 7% 13%;
		font-size: 2rem;
		/* padding: 5% 15%; */
	}

	.letter {
		width: 13%;
		line-height: 180%;
		font-size: 1.2rem;
		margin: 5px;
	}


}

@media (min-width: 768px) {
	h1 {
		text-align: center;
		font-size: 2.3rem;
		padding: 4%;
	}

	#word {
		padding: 5% 30%;
		width: 100%;
		font-size: 2.5rem;
	}

	#category {
		width: 100%;
		margin: 5% auto;
		font-size: 1.8rem;
		letter-spacing: 5px;
	}

	.letter {
		width: 12%;
		line-height: 200%;
		font-size: 1.8rem;
	}

	#resultBoard {
		box-shadow: 0 0 5px 5px black, 0 0 0 10px white, 0 0 5px 15px black;
	}

	#resultBoard h2 {
		font-size: 2.5rem;
	}

	#resultBoard button {
		font-size: 1.5rem;
		padding: 10px;
	}

}

@media (min-width: 1024px) {

	#hangman,
	#word {
		width: 50%;
	}

	#word {
		padding: 5% 15%;
	}

	#category {
		margin: 0;
	}

	.letter {

		width: 10%;
		line-height: 150%;
		font-size: 1.8rem;
	}

	#keyboard {
		width: 70%;
		margin: 5% auto;
	}

	#resultBoard {
		width: 70%;
		height: 50%;
	}

}

@media (min-width: 1400px) {
	.letter {
		width: 6%;
		line-height: 150%;
		font-size: 1.8rem;
	}
}